body {color: grey; background: black; font-family: Garamond, Georgia, serif; text-align: justify;}

h1{color: grey; font-family: Garamond, Georgia, serif; text-align: center; text-decoration: underline}
h2{color: grey; font-family: Garamond, Georgia, serif; text-align: center; text-decoration: underline}
h3{color: grey; font-family: Garamond, Georgia, serif; text-align: center; text-decoration: underline}

footer {color: grey; background: black; font-family: Garamond, Georgia, serif; text-align: center;}